// Colors
$primary: #90caf9;
$primary-darken: #0066a1;
$secondary: #ce8e00;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #f6f7ff;
$steel: #5C5A5A;

// Background
$bg: #121212;
$bg-default: #303030;
$bg-secondary: lighten($bg-default, 5);
$bg-paper: #424242;

// Text
$text: #fff;
$text-secondary: rgba(255, 255, 255, 0.8);
$text-disabled: rgba(255, 255, 255, 0.5);

// Link
$link-color: $text;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

// Button
$button-active: #fff;
$button-default: #e0e0e0;
$button-text: rgba(0, 0, 0, 0.87);
$button-hover: #d5d5d5;
$button-disabled: rgba(255, 255, 255, 0.3);
$button-disabled-bg: rgba(255, 255, 255, 0.12);

// Fonts
$font-family-base: Montserrat, Arial, sans-serif, -apple-system;
$font-family-heading: 'Montserrat', serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Other
$divider: rgba(255, 255, 255, 0.12);

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap-grid';
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library


// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/call';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/intro-image';
@import 'components/strip';
@import 'components/feature';
@import 'components/social';

// Pages
@import 'pages/home';
@import 'pages/team/team-summary';
@import 'pages/services/page-services-single';

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  background-color: $bg;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
  color: $text-secondary;
}

p {
  color: $text-secondary;
}
